n8n-workflows/sap-price-sync.json
{
  "name": "Azentix — SAP Price Sync",
  "active": false,
  "nodes": [
    {
      "parameters": { "queue": "sap-price-changes", "options": { "contentIsJson": true } },
      "name": "1_RabbitMQ_Trigger", "type": "n8n-nodes-base.rabbitMq",
      "typeVersion": 1, "position": [200, 300],
      "credentials": { "rabbitmq": { "id": "1", "name": "CloudAMQP" } }
    },
    {
      "parameters": {
        "url": "={{ $env.KONG_PROXY_URL }}/azentix/v1/agents/execute",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type",    "value": "application/json" },
          { "name": "X-API-Key",       "value": "={{ $env.KONG_API_KEY_AZENTIX }}" },
          { "name": "X-Correlation-Id","value": "={{ $now.toMillis() }}-{{ $json.sapMaterialNumber }}" }
        ]},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ taskType: 'sap-salesforce-price-sync', taskId: $now.toMillis() + '-sync', priority: 'High', description: 'Sync SAP price for ' + $json.sapMaterialNumber, inputData: { sapMaterialNumber: $json.sapMaterialNumber, salesforceProductId: $json.salesforceProductId, triggeredBy: 'sap_change_event' }, context: 'SAP is source of truth. Sync to Salesforce Standard Pricebook.' }) }}",
        "options": { "timeout": 120000 }
      },
      "name": "2_Call_Agent_via_Kong", "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4, "position": [440, 300]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "string": [{ "value1": "={{ $json.status }}", "operation": "equals", "value2": "Completed" }] }, "renameOutput": true, "outputKey": "completed" },
          { "conditions": { "string": [{ "value1": "={{ $json.status }}", "operation": "equals", "value2": "HumanReviewRequired" }] }, "renameOutput": true, "outputKey": "needsApproval" },
          { "conditions": { "string": [{ "value1": "={{ $json.status }}", "operation": "equals", "value2": "Failed" }] }, "renameOutput": true, "outputKey": "failed" }
        ]}
      },
      "name": "3_Route_by_Status", "type": "n8n-nodes-base.switch",
      "typeVersion": 1, "position": [680, 300]
    },
    {
      "parameters": { "queue": "notifications", "message": "={{ JSON.stringify({ type: 'price_sync_complete', material: $('1_RabbitMQ_Trigger').item.json.sapMaterialNumber, finalAnswer: $('2_Call_Agent_via_Kong').item.json.finalAnswer, ts: $now.toISO() }) }}" },
      "name": "4a_Notify_Success", "type": "n8n-nodes-base.rabbitMq", "position": [920, 200],
      "credentials": { "rabbitmq": { "id": "1", "name": "CloudAMQP" } }
    },
    {
      "parameters": { "queue": "approval-queue", "message": "={{ JSON.stringify({ type: 'price_approval_needed', material: $('1_RabbitMQ_Trigger').item.json.sapMaterialNumber, agentAnswer: $('2_Call_Agent_via_Kong').item.json.finalAnswer, ts: $now.toISO() }) }}" },
      "name": "4b_Send_Approval", "type": "n8n-nodes-base.rabbitMq", "position": [920, 300],
      "credentials": { "rabbitmq": { "id": "1", "name": "CloudAMQP" } }
    },
    {
      "parameters": { "queue": "dead-letter-archive", "message": "={{ JSON.stringify({ type: 'price_sync_failed', material: $('1_RabbitMQ_Trigger').item.json.sapMaterialNumber, error: $('2_Call_Agent_via_Kong').item.json.errorMessage, ts: $now.toISO() }) }}" },
      "name": "4c_Archive_Failed", "type": "n8n-nodes-base.rabbitMq", "position": [920, 400],
      "credentials": { "rabbitmq": { "id": "1", "name": "CloudAMQP" } }
    }
  ],
  "connections": {
    "1_RabbitMQ_Trigger":    { "main": [[{ "node": "2_Call_Agent_via_Kong", "type": "main", "index": 0 }]] },
    "2_Call_Agent_via_Kong": { "main": [[{ "node": "3_Route_by_Status",     "type": "main", "index": 0 }]] },
    "3_Route_by_Status": { "main": [
      [{ "node": "4a_Notify_Success", "type": "main", "index": 0 }],
      [{ "node": "4b_Send_Approval",  "type": "main", "index": 0 }],
      [{ "node": "4c_Archive_Failed", "type": "main", "index": 0 }]
    ]}
  }
}
